<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <script>
        function submitForm() {
            var xhr = new XMLHttpRequest();
            var url = "https://gasgamebackend.sglombicki.com/userLogin"; // Replace with your endpoint URL
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    window.location.href = "dashboard"; // Replace with the URL of your success page
                }
            };

            var data = JSON.stringify({
                "name": document.getElementById("input1").value,
                "password": document.getElementById("input2").value
            });

            xhr.send(data);
        }
    </script>
</head>
<body>
    <h1>Login</h1>
    <label for="input1">Username: </label><input type="text" id="input1" placeholder="Username">
    <br>
    <label for="input2">Password: </label><input type="text" id="input2" placeholder="Password">
    <br>
    <button onclick="submitForm()">Submit</button>
</body>
</html>